<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netjer</title>
    <!-- let the website know there is a css file -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- define a custom favicon (icon) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<!-- the main content of the webpage -->
<body>
  I don't know what to put here, something describing the website?
  <!-- let the website know there is a javascript file -->
<script src="static/script.js"></script>
</body>
</html>