<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developed by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">


    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <link href="" rel="stylesheet">


    <title>Title page</title>

    <link href="./static/main.550dcf66.css" rel="stylesheet">
</head>

<body> <!-- Add your content of header -->
<header>
    <nav class="navbar navbar-default active">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./index.html" title="">Home</a></li>
                    <li><a href="./project.html" title="">Projects</a></li>
                    <li><a href="./contact.html" title="">Contact Me</a></li>


                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Add your site or app content here -->
<div class="hero-full-container background-image-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Chris Luke</h1>
                <p>A digital Curriculum Vitae</p>
                <br>
                <a href="./project.html" class="btn btn-default btn-lg" title="">Projects</a>
            </div>
        </div>
    </div>
</div>


<div class="section-container">
    <div class="container text-center">
        <div class="row section-container-spacer">
            <div class="col-xs-12 col-md-12">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <img src="./static/assets/images/profil-01.jpg" alt=""
                     class="reveal img-responsive reveal-content image-center">
                <h3>Dr Christopher Luke PhD</h3>
                <h4>Data Scientist/Python Developer</h4>
                <p>Full stack Data Scientist, able to conceptualise, build and deploy machine learning solutions as well
                    as design, implement and monitor data pipelines, data warehouses and MLOps.
                </p>
                <p>Python, SQL, AWS,
                    Flask,
                    Sklearn,
                    Tensorflow,
                    NoSQL,
                    Data Modelling,
                    Data Pipelines,
                    Git
                </p>
                <p>
                    <a href="https://twitter.com/Netjeridi" class="social-round-icon fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/drchristopherluke/" class="social-round-icon fa-icon" title="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/Netjeridi" class="social-round-icon fa-icon" title="">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h2>Work History</h2>
                </div>
                <div class="text-left">
                    <p><b> 2020 - Now</b></p>
                    <p>
                        <b><i> Data Scientist</i></b>
                    </p>
                    <p>
                        <b> Blue Light Card - Discounts for Emergency Services</b>
                    </p>

                </div>
                <div class="text-center">
                    <ul>
                        <li>Built and maintained a SQL data warehouse solution for high security data with a full data
                            pipeline drawing from multiple sources and connectors, feeding into live dashboards for
                            stakeholders
                        </li>
                        <li> Managing a small team of data engineers</li>

                        <li>Conceptualising, building and deploying machine learning solutions and predictions for
                            stakeholders, e.g. predicting member renewals
                        </li>
                        <li> Utilising unsupervised learning to break down and understand our member base, clustering
                            and
                            segmenting them into appropriate categories
                        </li>
                        <li>Building and maintaining a unified API for model deployments and calls using Flask and AWS
                            ECS containers
                        </li>
                    </ul>


                    <div class="text-left">
                        <p><b> 2018 - 2020</b></p>
                        <p>
                            <b><i> Product Analyst and Lead for Data Quality</i></b>
                        </p>
                        <p>
                            <b> Prolific Ltd - Online research startup connecting researchers and participants</b>
                        </p>

                    </div>
                    <div class="text-center">
                        <ul>
                            <li>Building a machine learning network responsible for identifying fraudulent accounts
                                within a pool of 100,000 users, developing the python code-base ETL to support the model
                                and leading the team responsible for implementation in production.
                            </li>
                            <li> Providing experimentation of key product features success and failure, reporting on the
                                findings and suggesting product changes.
                            </li>

                            <li>Defining, monitoring and reporting KPI's for the product team and outlining how to
                                improve on targets.
                            </li>
                            <li> Redesigning the core participant delay algorithm to ensure equitable distribution of
                                studies and preserve naivety across the participant pool, resulting in a 100\% increase
                                to participant conversion.
                            </li>
                            <li>Assist with key decisions on growth, strategy and customer support.
                            </li>
                        </ul>


                        <div class="text-left">
                            <p><b> 2017 - 2018</b></p>
                            <p>
                                <b><i> Postdoctoral Research Associate - Social Attention and Ageing</i></b>
                            </p>
                            <p>
                                <b> Social and Economic Research Council - University of Aberdeen</b>
                            </p>

                        </div>
                        <div class="text-center">
                            <ul>
                                <li>Working with older adults to explore social interaction deficits as a result of
                                    ageing.
                                </li>
                                <li> Design, program and analyse complex eye tracking experiments.</li>

                                <li>Administer and score cognitive function deficit assessments.
                                </li>
                                <li> Disseminating key findings to funding body and wider audiences.
                                </li>

                            </ul>

                            <div class="text-left">
                                <p><b> 2016 - 2017</b></p>
                                <p>
                                    <b><i> Postdoctoral Research Associate - Dual Interactive Eye Tracking with Virtual
                                        Anthropomorphic Avatars</i></b>
                                </p>
                                <p>
                                    <b> Marie Curie Research Foundation - University of Aberdeen</b>
                                </p>

                            </div>
                            <div class="text-center">
                                <ul>
                                    <li>Design and build real-time interaction experiments in 3D environments using
                                        virtual avatars and eye-tracking.
                                    </li>
                                    <li> Analyse findings using Recurrence Quantification Analysis to detect patterns
                                        and interactions between participants.
                                    </li>


                                </ul>

                                <div class="text-left">
                                    <p><b> 2012 - 2016</b></p>
                                    <p>
                                        <b><i> Psychology Technician (Part Time)</i></b>
                                    </p>
                                    <p>
                                        <b> University of Lincoln</b>
                                    </p>

                                </div>
                                <div class="text-center">
                                    <ul>
                                        <li>Assisting in all technical details of experiment building, programming and analysis within the Psychology Department.
                                        </li>
                                        <li> Designing, building and monitoring a database of assets allowing students to book and borrow equipment.
                                        </li>
                                        <li> Teaching basic analysis and experiment building using SPSS and R</li>


                                    </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });













        </script>

        <footer class="footer-container white-text-container">
            <div class="container">
                <div class="row">


                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-7">
                                <p><small>Website created with <a href="http://www.mashup-template.com/"
                                                                  title="Create website with free html template">Mashup
                                    Template</a>/<a href="https://www.unsplash.com/"
                                                    title="Beautiful Free Images">Unsplash</a></small>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <p class="text-right">
                                    <a href="https://twitter.com/Netjeridi" class="social-round-icon fa-icon" title="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/drchristopherluke/"
                                       class="social-round-icon fa-icon"
                                       title="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://github.com/Netjeridi" class="social-round-icon fa-icon" title="">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </footer>

        <script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });













        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID

        <script>
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
              m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
          })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-XXXXX-X', 'auto');
          ga('send', 'pageview');
        </script>

        -->
        <script type="text/javascript" src="./static/main.0cf8b554.js"></script>
</body>

</html>